﻿<table class="col-10 mr-auto">
    <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Contenido</th>
    </tr> 
        <tr>
            <td>@Model.post.Titulo</td>
            <td>@Model.post.Autor</td>
            <td>@Model.post.Contenido</td>
        </tr>
</table>
<h3>Comentarios</h3>
<ul>
    @foreach (var item in Model.Comentarios)
    {
        <li>@item.Detalle | @item.Fecha</li>

    }
</ul>
<h3>Añade un comentario</h3>

<form method="post" action="https://localhost:44308/home/detalle?Postid=@Model.post.Id">

    <textarea rows="10" cols="100" name="Detalle">
    </textarea>

    <button class="btn-primary">Enviar</button>
</form>