﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="table">

    <table class="col-10 mr-auto">
        <tr>
            <th>Titulo del blog posts</th>
            <th>Autor del Blog Post</th>
            <th>Fecha de redacción</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="https://localhost:44308/home/detalle?id=@item.Id">@item.Titulo</a></td>
                <td>@item.Autor</td>
                <td>@item.Fecha</td>
            </tr>
        }
    </table>
    <br />
    <a href="/home/registrar">Registrar</a>
</div>