﻿

<form action="/home/registrar" method="post">
    <input type="text" name="Titulo" placeholder="Titulo" />
    <input type="text" name="Autor" placeholder="Autor" />
    <br />
    <br />
    <textarea rows="15" clos="200" name="Contenido" placeholder="Contenido"></textarea>

    <button class="btn-primary">Registrar</button>
</form>